<html>
<head>
<meta charset="UTF-8"> 
<script src="https://unpkg.com/vue"></script>
</head>
<body>
<div id="app1">
  <input v-model="message" placeholder="edit me">
  <p>Message is:{{message}}</p>
  <span>Multiline message is:</span>
<p style="white-space: pre-line;">{{ message2 }}</p>
<br>
<textarea v-model="message2" placeholder="add multiple lines"></textarea>
</br>
<input type="checkbox" id="checkbox" v-model="checked">
<label for="checkbox">{{ checked }}</label>
</div>
<div id='example-3'>
  <input type="checkbox" id="jack" value="Jack" v-model="checkedNames">
  <label for="jack">Jack</label>
  <input type="checkbox" id="john" value="John" v-model="checkedNames">
  <label for="john">John</label>
  <input type="checkbox" id="mike" value="Mike" v-model="checkedNames">
  <label for="mike">Mike</label>
  <br>
  <span>Checked names: {{ checkedNames }}</span>
</div>
<div id="example-4">
  <input type="radio" id="one" value="One" v-model="picked">
  <label for="one">One</label>
  <br>
  <input type="radio" id="two" value="Two" v-model="picked">
  <label for="two">Two</label>
  <br>
  <span>Picked: {{ picked }}</span>
</div>
<div id="example-5">
  <select v-model="selected">
    <option disabled value="">请选择</option>
    <option>A</option>
    <option>B</option>
    <option>C</option>
  </select>
  <span>Selected: {{ selected }}</span>
</div>
<div id="example-6">
  <select v-model="selected" multiple style="width: 50px;">
    <option>A</option>
    <option>B</option>
    <option>C</option>
  </select>
  <br>
  <span>Selected: {{ selected }}</span>
</div>
<script>

var app = new Vue({
  el: '#app1',
  data: {
      message:'',
	  message2:'',
	  checked:false
  }
});
new Vue({
  el: '#example-3',
  data: {
    checkedNames: []
  }
})
new Vue({
  el: '#example-4',
  data: {
    picked: ''
  }
})
new Vue({
  el: '#example-5',
  data: {
    selected: ''
  }
})
new Vue({
  el: '#example-6',
  data: {
    selected: ''
  }
})
</script>
</body>